html {
    background-color: black;
    color: white;
}
#stim {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    background-color: white;
}
#target {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    border: 5px dotted white;
}
#config {
    position: absolute;
    top: 10px;
    left: calc(50% - 200px);
    width: 400px;
    height: 170px;
    border: 1px solid #ccc;
    text-align: center;
}